# **PYTHON**

In [ ]:
x=6
print(x)

6

## **DATA TYPES**

---

### to find type

In [ ]:
x=795
y=26
z=x*y
print(z)

20670

In [ ]:
payment_per_day=795
days_of_working=26
total_salary=payment_per_day*days_of_working
print(total_salary)

20670

In [ ]:
x,y,z="fruits","markets","computer"
'''jkl
jklj
lkjl;'''
print(x,y,z) # print used to show output

fruits markets computer

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="1234"
print(x,y,z,a,b)

hello python 123 1.23 True 1234

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
print(type(y))

<class 'int'>

In [ ]:
print(type(z))

<class 'float'>

In [ ]:
print(type(a))

<class 'bool'>

In [ ]:
print(type(b))

<class 'str'>

### conversion

In [ ]:
x=123
print(x)

123

In [ ]:
print(str(x))

123

### adding of two strings(concatination)

In [ ]:
x="hello"
y="python"
var=x+y
print(var)

hellopython

In [ ]:
print(type(var))

<class 'str'>

In [ ]:
x="133545"
y=12345
z=int(x)
a=z+y
print(a)

145890

In [ ]:
x="hello"
z=int(x)
print(z)

ValueError: invalid literal for int() with base 10: 'hello'

# **1.STRING**

In [ ]:
'hello'
print('hello')

hello

In [ ]:
"hello"
print("hello")

hello

### **string as array**

In [ ]:
x="array"
print(x[0])

a

In [ ]:
print(x[1])

r

### **length of the string**

In [ ]:
x="hello programmer"
print(len(x))

16

### **to check certain phrase or character present in string**

In [ ]:
Text="hello,let's start coding"
print("start" in Text)

True

In [ ]:
print("hello" in Text)

True

### **not present in string**

In [ ]:
voice="this is an automated voice by siri"
print("hello" not in voice)

True

### **python slicing**

In [ ]:
xyz="hy my name is python"
print(xyz[2:10])

 my name

In [ ]:
S="ABCDEFGHI"
print(S[2:7])

CDEFG

In [ ]:
word="hello python"
print(word[1:])

ello python

In [ ]:
x="python"
print(x[-1])

n

In [ ]:
b="Hello,world!"
print(b[-5:-2])

orl

### **uppercase**

In [ ]:
word="hello python"
print(word.upper())

HELLO PYTHON

### lowercase

In [ ]:
word="HELLO PYTHON"
print(word.lower())

hello python

### **remove whitespace**

In [ ]:
a=" Hello,World!"
print(a.strip())#strip function

Hello,World!

### **replace a letter**

In [ ]:
a="Hello,World!"
print(a.replace("H","J")) #replace function

Jello,World!

### **split method**

In [ ]:
a="Hello, world!"
print(a.split(","))

['Hello', ' world!']

### **concatenation**

In [ ]:
A="hello"
B="python"
v=A+B
print(v)

hellopython

In [ ]:
a=1
b=1
v=a+b
print(v)

2

In [ ]:
a='1'
b='1'
v=a+b
print(v)

11

### **string format**

In [ ]:
age=36
txt="My name is John,and I am"+age
print(txt) #error

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=36
txt="My name is John,and Iam {}"
print(txt.format(age)) #format function

My name is John,and Iam 36

In [ ]:
amount=3212
orderno=4776
quantity=10
myorder="I want {} of my order {} for {} rupees"
print(myorder.format(quantity,orderno,amount))

I want 10 of my order 4776 for 3212 rupees

### **escape character**

In [ ]:
txt="we are the so-called\'vikings\'from the north."
print(txt) # \-single quote

we are the so-called'vikings'from the north.

In [ ]:
txt="we are the so-called \nvikings from the north."
print(txt) # \n-new line

we are the so-called
vikings from the north.

In [ ]:
txt="we are the so-called \t vikings from the north."
print(txt) # \t-tab space

we are the so-called 	 vikings from the north.

In [ ]:
txt="we are the so-called \b vikings from the north."
print(txt) # \b-backspace

we are the so-called  vikings from the north.

# **2.PYTHON BOOLEANS**

In [ ]:
print(10==10)

True

In [ ]:
print(10<9)

False

In [ ]:
print(10==100)

False

In [ ]:
print(bool("hello"))

True

In [ ]:
print(bool("100"))

True

In [ ]:
print(bool("python"))

True

In [ ]:
print(bool(["apple","cherry","banana"]))

True

In [ ]:
print(bool(False))

False

In [ ]:
print(bool(None))

False

In [ ]:
print(bool(0))

False

In [ ]:
print(bool(()))

False

In [ ]:
print(bool([]))

False

In [ ]:
x=200
print(isinstance(x,int))

True

## **PYTHON OPERATORS**

## **1) ARITHMETIC OPERATORS**

### **1.addition(+)**

In [ ]:
x=5
y=6
print(x+y)

11

### **2.subtraction(-)**

In [ ]:
x=10
y=5
print(x-y)

5

### **3.multiplication**

In [ ]:
x=5
y=6
print(x*y)

30

### **4.exponention**

In [ ]:
x=2
y=3
print(x**y)

8

### **5.division**

In [ ]:
x=6
y=3
print(x/y)

2.0

### **6.floor division**

In [ ]:
x=6
y=5
print(x//y)

1

### **7.modulus**

In [ ]:
x=11
y=3
print(x%y)

2

## **2) ASSIGNMENT OPERATORS**

In [ ]:
x=5
print(x) # =

5

In [ ]:
x=5
x+=5
print(x) # +=

10

In [ ]:
x=5
x-=2
print(x) # -=

3

In [ ]:
x=2
x*=3
print(x) # *=

6

In [ ]:
x=6
x/=3
print(x) # /=

2.0

In [ ]:
x=6
x//=5
print(x) # //=

1

In [ ]:
x=11
x%=3
print(x) # %=

2

In [ ]:
x=11
x&=3
print(x) # &=

3

In [ ]:
x=3
x|=4
print(x) # |=

7

In [ ]:
x=5
x^=2
print(x) # ^=

7

In [ ]:
x=5
x>>=2
print(x) # >>=

1

In [ ]:
x=5
x<<=2
print(x) # <<=

20

## **3) LOGICAL OPERATORS**

In [ ]:
x=5
y=6
print(x>1 and y<10)

True

In [ ]:
x=5
y=6
print(x>5 or y<10)

True

In [ ]:
x=5
print(not x>1)

False

## **4) IDENTITY OPERATORS**

In [ ]:
x=5
y=6
print(x is y)

False

In [ ]:
x=5
y=6
print(x is not y)

True

## **5) MEMBERSHIP TEST OPERATORS**

In [ ]:
nums=[1,2,3,4,5]
print(1 in nums)

True

In [ ]:
print(10 in nums)

False

In [ ]:
print('str' in "string")

True

In [ ]:
nums=[1,2,3,4,5]
print(1 not in nums)

False

In [ ]:
print(10 not in nums)

True

In [ ]:
print('str' not in "string")

False

## **6) BITWISE OPERATORS**

In [ ]:
x=5
y=10
z=x&y
print(z)

0

In [ ]:
x=5
y=10
z=x|y
print(z)

15

In [ ]:
x=5
y=10
z=x^y
print(z)

15

# **3.LISTS**

In [ ]:
fruits=["banana","apple","orange"]
print(fruits)

['banana', 'apple', 'orange']

In [ ]:
print(fruits[1]) #index

apple

**range of items**

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
print(fruits[1:5])

['orange', 'mango', 'apple', 'kiwi']

In [ ]:
print(fruits[:5])

['apple', 'orange', 'mango', 'apple', 'kiwi']

In [ ]:
print(fruits[1:])

['orange', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits[1]="banana"
print(fruits)

['apple', 'banana', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits[2:4]=["watermelon","greenapple"]
print(fruits)

['apple', 'banana', 'watermelon', 'greenapple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","banana","orange"]
fruits[2:]=["watermelon","kiwi"]
print(fruits)

['apple', 'banana', 'watermelon', 'kiwi']

In [ ]:
fruits=["apple","banana","orange"]
fruits[1:2]=["kiwi"]
print(fruits)

['apple', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"orange")
print(fruits) #insert() function

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.append("orange")
print(fruits)  #append() function

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=["mango","pineapple","papaya"]
fruits.extend(fruits2)
print(fruits)  #extend() function

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.remove("apple")
print(fruits) # remove() function

['banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop(1)
print(fruits) #pop() function

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
del fruits[1]
print(fruits) # del() function

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.clear()
print(fruits) # clear() function

[]

In [ ]:
fruits=["apple","banana","cherry"]
myfruits=fruits.copy()
print(myfruits) #copying of a list

['apple', 'banana', 'cherry']

# **4.TUPLES**

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits)

('apple', 'orange', 'kiwi')

In [ ]:
print(len(fruits))

3

In [ ]:
print(type(fruits))

<class 'tuple'>

In [ ]:
variety=("abc",34,True,40,"male")
print(type(variety))

<class 'tuple'>

In [ ]:
fruits=("apple","banana","cherry")
print(fruits[1])

banana

In [ ]:
print(fruits[-1])

cherry

In [ ]:
fruits=("apple","banana","cherry","orange","kiwi","melon")
print(fruits[2:])

('cherry', 'orange', 'kiwi', 'melon')

In [ ]:
x=("apple","banana","cherry")
y=list(x)
y[1]="watermelon"
x=tuple(y)
print(x)

('apple', 'watermelon', 'cherry')

In [ ]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)

apple

In [ ]:
print(yellow)

banana

In [ ]:
print(red)

cherry

# **5.SETS**

In [ ]:
fruits={"apple","banana","cherry"}
print(fruits)

{'banana', 'cherry', 'apple'}

In [ ]:
print("banana" in fruits)

True

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'cherry', 'banana', 'kiwi', 'orange', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3) #union() function

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1) #update() function

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z) #intersection()

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x) #intersection_update()

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z) #symmetric_difference()

{'cherry', 'microsoft', 'banana', 'google'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x) #symmetric_difference_update()

{'google', 'banana', 'cherry', 'microsoft'}

# **6.FROZENSET**

In [ ]:
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu)
print(fnum)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

# **7.DICTIONARIES**

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":"2004"}
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': '2004'}

In [ ]:
print(cars["model"]) # accesing an item

2nd series

In [ ]:
x=cars.get("model")
print(x)

2nd series

In [ ]:
x=cars.keys()
print(x)#keys method

dict_keys(['brand', 'model', 'year'])

In [ ]:
x=cars.values()
print(x)# values method

dict_values(['BNW', '2nd series', '2004'])

In [ ]:
cars={"brand":"Ford","model":"Mustang","year":"1964"}
x=cars.values()
print(x)

dict_values(['Ford', 'Mustang', '1964'])

In [ ]:
cars["year"]=2020
print(x)

dict_values(['Ford', 'Mustang', 2020])

In [ ]:
cars["color"]="red"
print(x)

dict_values(['Ford', 'Mustang', 2020, 'red'])

In [ ]:
x=cars.items()
print(x)# items() method

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', '1964')])

In [ ]:
cars.update({"year":2020})
print(cars) #update() function

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
cars={"brand":"Ford","model":"Mustang","year":"2020"}
cars.pop('year')
print(cars)#pop() function

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
cars={"brand":"Ford","model":"Mustang","year":"1964"}
cars.popitem()
print(cars)#popitem() method

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
del.cars["model"]
print(cars) #del keyword

SyntaxError: invalid syntax (ipython-input-3497982200.py, line 1)

In [ ]:
cars.clear()
print(cars) #clear() method

{}

In [ ]:
thisdict={"brand":"Ford","model":"Mustang","year":"1964"}
mydict=thisdict.copy()
print(mydict) #copy() function

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [ ]:
mydict=dict(thisdict)
print(mydict) #dict()

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

### **Nested dictionaries**

In [ ]:
friends={"child1":{"name":"arun","year":2000},"child2":{"name":"vignesh","year":2001},"child3":{"name":"arya","year":2018}}
print(friends)

{'child1': {'name': 'arun', 'year': 2000}, 'child2': {'name': 'vignesh', 'year': 2001}, 'child3': {'name': 'arya', 'year': 2018}}

In [ ]:
child1={"name":"arun","year":2000}
child2={"name":"vignesh","year":2001}
child3={"name":"arya","year":2018}
friends={"child1":child1,"child2":child2,"child3":child3}
print(friends)

{'child1': {'name': 'arun', 'year': 2000}, 'child2': {'name': 'vignesh', 'year': 2001}, 'child3': {'name': 'arya', 'year': 2018}}

# **CONDITIONAL STATEMENTS**

## **IF STATEMENTS**

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=33
b=200
if b>a:
print("b is greater than a") #indentation

IndentationError: expected an indented block after 'if' statement on line 3 (ipython-input-2764493827.py, line 4)

In [ ]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal") # elif

a and b are equal

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b") # else

a is greater than b

In [ ]:
a=2
b=330
print("A") if a>b else print("B") # shorthand if

B

In [ ]:
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B") #shorthand if

=

### **logical operators in if statements**

### **1.and**

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

### **2.or**

In [ ]:
a=200
b=33
c=500
if a>b or a>c:
  print("atleast one of the conditions is true")

atleast one of the conditions is true

### **nested if**

In [ ]:
x=41
if x>10:
  print("Above ten")
  if x>20:
    print("and also above 20")
else:
  print("but not above 20")

Above ten
and also above 20

### **pass statement**

In [ ]:
a=33
b=200
if b>a:
  pass

## **LOOPING STATEMENTS**

## **1.WHILE LOOP**

In [ ]:
a=[1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
I=0
while I<4:
  I+=1
  print(I) #incrementation

1
2
3
4

In [ ]:
I=10
while I>2:
  I-=1
  print(I) #decrementation

9
8
7
6
5
4
3
2

### **control statements**

### **1.continue**

In [ ]:
I=0
while I<4:
  I+=1
  print(I)
  continue

1
2
3
4

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='e' or a[i]=='s':
    i+=1
    continue
  print('Current Letter:',a[i])
  i+=1

Current Letter: l
Current Letter: o
Current Letter: o
Current Letter: p
Current Letter:
Current Letter: i
Current Letter: n
Current Letter:
Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: o
Current Letter: n

### **2.break**

In [ ]:
I=0
while I<4:
  I+=1
  print(I)
  break

1

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='p' or a[i]=='h':
    i+=1
    break
  print('Current Letter:',a[i])
  i+=1

Current Letter: l
Current Letter: o
Current Letter: o

### **3.pass**

In [ ]:
a='loop in python'
i=0
while i<len(a):
  i+=1
  pass
  print('value of i:',i)

value of i: 1
value of i: 2
value of i: 3
value of i: 4
value of i: 5
value of i: 6
value of i: 7
value of i: 8
value of i: 9
value of i: 10
value of i: 11
value of i: 12
value of i: 13
value of i: 14

## **2.WHILE-ELSE LOOP**

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
else:
  print("No Break\n")

1
2
3
4
No Break

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break
else:
   print("No Break")

1

##**3.FOR LOOPS**

In [ ]:
print("List Iteration")
l=["hello","for","python"]
for i in l:
  print(i)

List Iteration
hello
for
python

In [ ]:
print("\nTuple Iteration")
t=("hello","for","python")
for i in t:
  print(i)

Tuple Iteration
hello
for
python

### **loop control statements**

### **1.continue**

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    continue
  print('Current Letter:',x)

Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: n
Current Letter:
Current Letter: d
Current Letter: v
Current Letter: l
Current Letter: p
Current Letter: r

### **2.break**

In [ ]:
for x in 'python developer':
  if x=='o' or x=='e':
    break
  print('Current Letter:',x)

Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h

### **3.pass**

In [ ]:
for x in 'python developer':
  pass
print("last letter:",x)

last letter: r

## **RANGE() FUNCTION**

In [ ]:
for i in range(10):
  print(i,end="")

0123456789

In [ ]:
for i in range(0,10):
  print(i,end="")

0123456789

In [ ]:
for i in range(1,10):
 print(i,end="")

123456789

In [ ]:
for i in range(4,10):
 print(i,end="")

456789

In [ ]:
for i in range(1,7,9):
 print(i,end="")

1

In [ ]:
l=[10,20,30,40]
for i in range(len(l)):
  print(l[i],end="")

10203040

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
for i in range(0,11):
  if i == 3:
    pass
  elif i == 5:
    continue
  elif i == 7:
    break
  print(i)

0
1
2
3
4
6

## **4.FOR-ELSE LOOP**

In [ ]:
for i in range(1,4):
  print(i)
else:
  print("No Break\n")

1
2
3
No Break

In [ ]:
for i in range(1,4):
  print(i)
  break
else:
  print("No Break")

1

## **5.NESTED LOOP**

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# **PYTHON FUNCTIONS**

## **calling a function**

In [ ]:
def hello():
  print("Welcome to ipcs")
hello()

Welcome to ipcs

## **arguments of a function**

In [ ]:
def evenorodd(x):#x-argument
  if (x%2==0):
    print("even")
  else:
    print("odd")
evenorodd(25)#fun calling

odd

**GRADE PROGRAM**

In [ ]:
def Grade(x):
  if x>=90:
    print("Grade:A")
  elif x>=80:
    print("Grade:B")
  elif x>=70:
    print("Grade:C")
  elif x>=60:
    print("Grade:D")
  else:
    print("Grade:E")
Grade(56)
Grade(65)
Grade(98)

Grade:E
Grade:D
Grade:A

**CALCULATOR PROGRAM**

In [ ]:
def myFun(a,b,c):
  if c=="+":
    print(a+b)
  elif c=="-":
    print(a-b)
  elif c=="*":
    print(a*b)
  elif c=="%":
    print(a%b)
  elif c=="/":
    print(a/b)
  else:
    print("invalid operator")
myFun(10,20,"+")
myFun(56,89,"*")
myFun(45,5,"%")
myFun(56,8,"/")

30
4984
0
7.0

## **types of arguments**

### **1.default argument**

In [ ]:
def myFun(x,y=50):
  print("x:",x)
  print("y:",y)
myFun(10)

x: 10
y: 50

### **2.key word arguments**

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)

student(firstname='python',lastname='functions')
student(lastname='hello',firstname='programmers')

python functions
programmers hello

### **3.Arbitrary arguments**

In [ ]:
def my_function(*kids):
  print("The youngest child is "+kids[2])
my_function("Emil","Tobias","Linus")

The youngest child is Linus

In [ ]:
def myfunction(*argv):
  for x in argv:
    print(x)
myfunction("Hello","Welcome","to","ipcs")

Hello
Welcome
to
ipcs

### **4.Arbitrary key word arguments**

In [ ]:
def my_function(**student):
  print("His first name is "+student["fname"])
my_function(fname="Vignesh",lname="s")

His first name is Vignesh

In [ ]:
def myFun(**kwargs):
 for key,value in kwargs.items():
  print("%s==%s"%(key,value))
myFun(first='welcome',mid='for',last='course')

first==welcome
mid==for
last==course

## **default parameter value**

In [ ]:
def my_function(country="Norway"):
  print('I am from '+country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## **passing a list as an argument**

In [ ]:
def my_function(xyz):
  for x in xyz:
    print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

## **RETURN VALUES**

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(-4))

4
16

In [ ]:
def myfunction(x):
  x[0]=30
lst=[9,11,13,14,15]
myfunction(lst)
print(lst)

[30, 11, 13, 14, 15]

## **function within functions**

In [ ]:
def f1():
  s='I love python'
  def f2():
    print(s)
  f2()
f1()

I love python

# **python lambda**

In [ ]:
string="hello python"
print(lambda string:string)

<function <lambda> at 0x791dc26aeca0>

In [ ]:
x="hello python"
(lambda x:print(x))(x)

hello python

In [ ]:
def cube(y):
  return y*y*y;
g=lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a: a**n
base=power(2)
print("Now power is set to 2")
print("6 power of 2 =",base(6))
base=power(5)
print("Now power is set to 5")
print("8 power of 5 =",base(8))

Now power is set to 2
6 power of 2 = 36
Now power is set to 5
8 power of 5 = 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x: x%2==0 , a)
print(list(filtered))  # filter function filter()

maped=map(lambda x: x%2==0 , a)  #map()
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

# **global and local variables**

In [ ]:
def myfunction():
  print(s)
s="i love python"
myfunction()

i love python

In [ ]:
def myfunction():
  s="Me too."
  print(s)

s="i love python"
myfunction()
print(s)

Me too.
i love python

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside h():',a)


print('global:',a)
f()
print('golbal',a)
g()
print('golbal',a)
h()
print('golbal',a)

global: 1
inside f(): 1
golbal 1
inside g(): 2
golbal 1
inside h(): 3
golbal 3

# **first class functions in python**

## **1.functions are objects**

In [ ]:
def shout(text):
  return text.upper()
print(shout('Hello'))
yell=shout #object or instance
print(yell('Hello'))

HELLO
HELLO

## **2.functions can be passed as arguments to other functions**

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""Hi,I am created by a function passed as an argument.""")
  print(greeting)

greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi,i am created by a function passed as an argument.

## **3.functions can return another function**

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

# **RECURSIVE FUNCTIONS**

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))
num=4
print("The factorial of",num,"is",calc_factorial(num))

The factorial of 4 is 24

# **modules and packages**

In [ ]:
visual studio code

# **OOPS**

# **CLASS AND OBJECT**

In [ ]:
class phone: #making phone class

  def make_call(self): #self is parameter
    print("let's make an phone call")

  def play_game(self): #method
    print("Let's play a game")

p1=phone()#make an object

In [ ]:
p1.make_call()

let's make an phone call

In [ ]:
p1.play_game()

Let's play a game

## **adding parameter to the class**

In [ ]:
class phone:

  def make_call(self):
    print("let's make an phone call")

  def play_game(self):
    print("Let's play a game")

  def set_color(self,color): #adding new parameter and create a new function
    self.color=color

  def set_cost(self,cost):
    self.cost=cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost
p2=phone() #make an another object

In [ ]:
p2.set_color('blue')

In [ ]:
p2.set_cost(5000)

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

5000

## **creating a class with constructor**

In [ ]:
class Employee:

   def __init__(self,name,age,salary,gender): #__init__ method is an constructor

     self.name = name
     self.age = age
     self.salary = salary
     self.gender = gender


   def employee_details(self):
     print("Name of employee is ",self.name)
     print("Age of employee is ",self.age)
     print("Salary of employee is ",self.salary)
     print("Gender of employee is ",self.gender)

In [ ]:
e1=Employee("Sam",32,85000,"Male")

In [ ]:
e1.employee_details()

Name of employee is  Sam
Age of employee is  32
Salary of employee is  85000
Gender of employee is  Male

## **class**

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health = health
    self.damage = damage
    self.power = power

ninja = character(100,30,90)
warrior = character(200,40,95)
print("Power of ninja: ",ninja.power)
print("Power of ninja: ",ninja.health)

Power of ninja:  90
Power of ninja:  100

In [ ]:
class character:

    def __init__(self,health,damage,power):
      self.health = health
      self.damage = damage
      self.power = power

    def double(self):
      self.power=self.power*2
      self.damage=self.damage*3
ninja = character(100,30,90)
warrior = character(200,40,95)
print("Power of ninja: ",ninja.power)
print("Power of ninja: ",ninja.health)
ninja.double()
print("After doubling the power")
print("Power of ninja: ",ninja.power)
print("damage of ninja: ",ninja.damage)

Power of ninja:  90
Power of ninja:  100
After doubling the power
Power of ninja:  180
damage of ninja:  90

In [ ]:
class character:

    def __init__(self,name,health,damage,power):
      self.name=name
      self.health = health
      self.damage = damage
      self.power = power

    def hai(self):
      print("Hello I am ",self.name)

    def is_alive(self):
      if self.health<=0:
        print(self.name,"is Dead!")
      else:
        print(self.name,"is Alive!")


    def player_details(self):
      print("....."*5)
      print("Name of player is: ",self.name)
      print("Health of player is: ",self.health)
      print("Damage of player is: ",self.damage)
      print("Power of player is: ",self.power)
      print()

ninja = character("Ninja",100,30,90)
warrior = character("Warrior",200,40,95)


ninja.hai()
ninja.health=0
print("Health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

Hello I am  Ninja
Health of ninja: 0
Ninja is Dead!
Warrior is Alive!
.........................
Name of player is:  Warrior
Health of player is:  200
Damage of player is:  40
Power of player is:  95

.........................
Name of player is:  Ninja
Health of player is:  0
Damage of player is:  30
Power of player is:  90

## **class attributes**

In [ ]:
class student:

  school='abc school'

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): #method
     print(f"{self.name} is : {self.age} year old is studying at : {self.school} and roll number is {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,9)
print(student1.school)

student.school="Learn Logic AI" #updating class attributes

student1.details()

abc school
Anshif is : 21 year old is studying at : Learn Logic AI and roll number is 3

## del operator

In [ ]:
class student:

  school='abc school'

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): #method
     print(f"{self.name} is : {self.age} year old is studying at : {self.school} and roll number is {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,9)
print(student1.school)
del student1.name
print(student1.name) #it show an error

abc school

AttributeError: 'student' object has no attribute 'name'

## **python built-in class function**

In [ ]:
class student:

  school='abc school'

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): #method
     print(f"{self.name} is : {self.age} year old is studying at : {self.school} and roll number is {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,9)
print(getattr(student1,"name"))

setattr(student1,"age",23)
print(student1.age)

print(hasattr(student1,"id"))

delattr(student1,"age")

Anshif
23
False

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def bark(self):
    print(f"{self.name} says: Bow! Bow!")

  def intriduce(self):
    print(f"My name is {self.name} and I am {self.age} years old.")

  def sit(self):
    print(f"{self.name} is now sitting.")

  def fetch(self,item):
    print(f"{self.name} is fetching the {item}")


dog1=dog("Mubashir",21)
dog2=dog("Jaseem",19)
dog1.bark()
dog2.bark()
dog1.sit()
dog1.fetch("Alpham mandhi")
dog2.fetch("stick")

Mubashir says: Bow! Bow!
Jaseem says: Bow! Bow!
Mubashir is now sitting.
Mubashir is fetching the Alpham mandhi
Jaseem is fetching the stick

# **INHERITANCE IN OOP**

## **1.single inheritance**
(single parent and single child)

In [ ]:
class Animal: # parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal): # child class(inheritance)
  def bark(self):
    print("Dog barking")

d=Dog()
d.bark()
d.speak() #we can call speak because Dog is child of Animal

a=Animal()
a.speak() #here we cannot call bark because bark attribute not in Animal object

Dog barking
Animal speaking
Animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting..")
  def stop(self):
    print("vehicle is stopping..")

class car(vehicle):
  def drive(self):
    print("car is being driven")


my_car=car()
my_car.start()
my_car.drive()
my_car.stop()

vehicle is starting..
car is being driven
vehicle is stopping..

## **2.multilevel inheritance**
(parent,child,grand child)

In [ ]:
class Animal: # parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal): # child class
  def bark(self):
    print("Dog barking")

class Dogchild(Dog): # grand child
  def eat(self):
    print("Eating bread....")


d=Dog()
d.bark()
d.speak() # not take eat because Dog has no attribute eat.

print()

d1=Dogchild()
d1.bark()
d1.speak()
d1.eat()

Dog barking
Animal speaking

Dog barking
Animal speaking
Eating bread....

## **3.hierarchial inheritance**
(one parent,two child)

In [ ]:
class shape: # parent class
  def info(self):
    print("Shapes have dimensions...")

class circle(shape): # this is child of shape
  def draw(self):
    print("Drawing a circle...")

class rectangle(shape): # this is also child of shape
  def draw(self):
    print("Drawing a rectangle...")

c=circle()
r=rectangle()
c.info()
c.draw()
print()
r.info()
r.draw()

Shapes have dimensions...
Drawing a circle...

Shapes have dimensions...
Drawing a rectangle...

In [ ]:
class person: # parent class
  def introduce(self):
    print("I am a person...")

class Teacher(person): # child of person
  def teach(self):
    print("I teach students...")

class Student(person): # also child of person
  def study(self):
    print("I study subjects...")

teacher=Teacher()
student=Student()

teacher.introduce()
teacher.teach()

print()

student.introduce()
student.study()

I am a person...
I teach students...

I am a person...
I study subjects...

## **4.multiple inheritance**
(two parent , one child)

In [ ]:
class Calculation1: # parent class
  def summation(self,a,b):
    print(a+b)

class Calculation2: # another parent class
  def multiplication(self,a,b):
    print(a*b)

class Derived(Calculation1,Calculation2): # child from that both parent classes
  def divide(self,a,b):
    print(a/b)


d=Derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

## **HYBRID INHERITANCE**

In [ ]:
class person:
  def show(self):
    print("I am a person")
class teacher(person):
  def teach(self):
    print("I teach students")

class staff:
  def manage(self):
    print("I manage school activities")



class principal(teacher,staff):
  def oversea(self):
    print("I oversea the entire school ")


principal=principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

I am a person
I teach students
I manage school activities
I oversea the entire school

## **SUPER() METHOD**

In [ ]:
class parent:
  def greet1(self):
    print("Hello from parent..")

class child(parent):
  def greet2(self):
    super().greet1()
    print("Hello from child..")

child=child()
child.greet2()

Hello from parent..
Hello from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called..")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
    print("child constructor called..")

child=child("Anshif",21)

parent constructor called..
child constructor called..

# **POLYMORPHISM**

## **1.METHOD OVERRIDING**

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")

class C(B):
  def show(self):
    print("class C")

obj=C()
obj.show()

class C

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    super().show()
    print("class B")

class C(B):
  def show(self):
    super().show()
    print("class C")

obj=C()
obj.show() # use super() method we get all classes

class A
class B
class C

In [ ]:
class Animal:
  def speak(self):
    print("Animal is making sound")

class Dog(Animal):
  def speak(self):
    print("Dog barks")

class Cat(Animal):
  def speak(self):
    print("Cat meows")

dog=Dog()
cat=Cat()

dog.speak()
cat.speak()

Dog barks
Cat meows

## **2.METHOD OVERLOADING**

### **1.default arguments**
(give different values to parameters)

In [ ]:
class calculator:
  def add(self,a,b=0,c=0):
    print(a+b+c)

calc=calculator()

calc.add(5)
calc.add(5,10)
calc.add(5,10,20)

5
15
35

### **2.variable length arguments**
(methods to accept different number of arguments)

* positinal arguments(args)

In [ ]:
class mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum:{total}")

math=mathoperations()

#call the method with n number of arguments using (*args)
math.add(5)
math.add(5,10)
math.add(1,2,3,4)

sum:5
sum:15
sum:10

*kerword arguments(kwargs)

In [ ]:
class Greeting:
  def say_hello(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"You are {kwargs['age']} years old!")
    print(f"You are from {kwargs['city']}!")

g=Greeting()
g.say_hello(name="Anshif",age=21,city="Puthanathani")

Hello Anshif!
You are 21 years old!
You are from Puthanathani!

# **ENCAPSULATION**

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name # here company_name is a private member because double underscore
    self._company_id = company_id # company_id is a protected member because single underscore

c1=company("TCS",91)
print(c1._company_id) # we cannot print company_name because it is a protected member

91

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

  def get_company_name(self):
    print(self.__company_name)

c1=company("TCS",91)
c1.get_company_name()

TCS

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance = balance
  def deposit(self,amount):
    if amount > 0 :
      self.__balance += amount
      print(f"Deposited {amount}. New balance: {self.__balance}")
    else:
      print("Invalid deposit error")

  def get_balance(self):
    return self.__balance

account = bankaccount("12345" , 1000)
account.deposit(500)
print(account.get_balance())

Deposited 500. New balance: 1500
1500

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance = balance
  def withdraw(self,amount):
    if  amount <= 0 :
      print("enter proper amount")
    elif amount < self.__balance:
      self.__balance -= amount
      print(f"withdraw { amount }. New balance : {self.__balance}")
    elif amount >= self.__balance:
      print("insufficient balance")
    else:
      print("invalid")

  def get_balance(self):
    return self.__balance


account = bankaccount("12345" , 1000)
account.withdraw(600)
print(account.get_balance())

withdraw 600. New balance : 400
400

# **ABSTRACTION**

(from abc , import ABC , abstract method)

In [ ]:
from abc import ABC , abstractmethod

class vehicle(ABC): # abstract class

  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass

v=vehicle() # result will be error.we create child class to avoid error.

TypeError: Can't instantiate abstract class vehicle without an implementation for abstract methods 'start_engine', 'stop_engine'

In [ ]:
from abc import ABC , abstractmethod

class vehicle(ABC): # abstract class

  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass

class car(vehicle): # child class

  def start_engine(self): # we create same function as parent class otherwise we get error
   print("car engine started")

  def stop_engine(self):  # we create same function as parent class otherwise we get error
    print("car engine stopped")

car=car()
car.start_engine()
car.stop_engine()

car engine started
car engine stopped

In [ ]:
from abc import ABC, abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass

class Circle(shape):

  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is : {3.14 * (self.radius)**2}")


class Rectangle(shape):

  def __init__(self,width,height):
    self.width=width
    self.height=height

  def calculate_area(self):
    print(f"Rectangle area is : {self.width * self.height}")


cir=Circle(10)
rect=Rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

circle area is : 314.0

Rectangle area is : 50

# **CLASS METHOD**

In [ ]:
class car: #class variable
  wheels=4

  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels=new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}.")

car1=car("Toyota","Etios") # create instance of car

# call the class method
car.change_wheels(6)

print()

print(f"car variable updated to : {car1.wheels}") #class variable "wheels" is now changed to all instances

The number of wheels has been updated to 6.

car variable updated to : 6

# **ITERATOR**

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)

In [ ]:
print(next(myit))

apple

In [ ]:
print(next(myit))

banana

In [ ]:
print(next(myit))

cherry

In [ ]:
mystring="banana"
myit=iter(mystring)

In [ ]:
print(next(myit))

b

In [ ]:
print(next(myit))

a

In [ ]:
print(next(myit))

n

In [ ]:
print(next(myit))

a

In [ ]:
print(next(myit))

n

In [ ]:
print(next(myit))

a

## **looping through an iterator**

In [ ]:
mytuple=("apple","banana","cherry")
for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

In [ ]:
print(next(myiter))

1

In [ ]:
print(next(myiter))

2

In [ ]:
print(next(myiter))
print(next(myiter))

3
4

# **GENERATORS**

In [ ]:
def greeting():
  print('Hi!')
  yield 1
  print('How are you?')
  yield 2
  print('Are you there?')
  yield 3

messenger = greeting()

result = next(messenger)
print(result)

Hi!
1

In [ ]:
result = next(messenger)
print(result)

How are you?
2

In [ ]:
result = next(messenger)
print(result)

Are you there?
3

# **FILE HANDLING**

In [ ]:
file = open("newfile.txt", "x")
file.write("This file was created using 'x' mode.")
file.close()

In [ ]:
file = open("newfile.txt", "r")
content = file.read()
print(content)

This file was created using 'x' mode.

In [ ]:
file = open("newfile.txt", "w")
file.write("Hello, world!\n")
file.write("This is Python.")
file.close()

In [ ]:
file = open("newfile.txt", "r")
content = file.read()
print(content)

Hello, world!
This is Python.

In [ ]:
file = open("newfile.txt", "a")
file.write("\nAppended line.")
file.close()

In [ ]:
file = open("newfile.txt", "r")
content = file.read()
print(content)

Hello, world!
This is Python.
Appended line.

above we use open then we close manually.next we do withopen ,not close manually

1. Create a file using 'x' mode

In [ ]:
with open("demo.txt","x") as f:
  f.write("This file was created using 'x' mode.\n")

2. Read the file using 'r' mode

In [ ]:
with open("demo.txt","r") as f:
  content = f.read()
  print("[After 'x' mode creation]")
  print(content)

[After 'x' mode creation]
This file was created using 'x' mode.

3. Write to the file using 'w' mode (this will overwrite the file)

In [ ]:
with open("demo.txt","w") as f:
  f.write("This content overwrites the file using 'w' mode")

4. Read the file again

In [ ]:
with open("demo.txt","r") as f:
  content = f.read()
  print("[After 'w' mode write]")
  print(content)

[After 'w' mode write]
This content overwrites the file using 'w' mode

5. Append to the file using 'a' mode

In [ ]:
with open("demo.txt","a") as f:
  f.write("This line is added using 'a' mode.\n")

6. Final read

In [ ]:
with open("demo.txt","r") as f:
  content = f.read()
  print("[final read after append]")
  print(content)

[final read after append]
This content overwrites the file using 'w' modeThis line is added using 'a' mode.This line is added using 'a' mode.
This line is added using 'a' mode.

# **EXCEPTION HANDLING**

## **1.syntax error**

In [ ]:
if 5>3
  print("This will cause a syntax error")

SyntaxError: expected ':' (ipython-input-416297824.py, line 1)

## **2.runtime errors**

In [ ]:
x=1/0
print(x)

ZeroDivisionError: division by zero

## **3.logical errors**

In [ ]:
length = 5
width = 10
area = length  + width #should be length*width
print("Area:",area)
# here program run bot result is wrong . this is logical error

Area: 15

In [ ]:
try:
    num = int(input("Enter the number: "))
    result = 10/num
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Please enter a valid number!")
else:
    print("Division successful! Result:" , result)
finally:
    print("This block always runs.")

Enter the number: 5
Division successful! Result: 2.0
This block always runs.

# **exceptions**

## **try-except block**

In [ ]:
try:
  x=int(input("Enter the number: "))
  y = 10/x
  print(y)
except ZeroDivisionError:
  print("cannot divide by zero")

Enter the number: 0
cannot divide by zero

In [ ]:
try:
  x=int(input("Enter the number: "))
  y = 10/x
  print(y)
except ZeroDivisionError as e:
  print(e)

Enter the number: 0
division by zero

In [ ]:
try:
  print(a) # here a is not defined
except:
  print("Error occured")   # use try-except block , error will not show.

Error occured

In [ ]:
print(a)
print("Hello World")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("Error occured")
print("Hello World")

Error occured
Hello World

## **Else and finally block**

## **Else block**

In [ ]:
try:
  result = 10/2
except ZeroDivisionError:
  print("Error")
else:
  print("Result:" , result)

Result: 5.0

## **finally block**

In [ ]:
try:
  file_=open("data.txt","r")

except FileNotFoundError:
  print("File Not Found!")

finally:
  print("End of program")

File Not Found!
End of program

In [ ]:
import math
print(math.exp(1000)) # overflow error

OverflowError: math range error

In [ ]:
obj = 42
obj.append(5) # attribute error

AttributeError: 'int' object has no attribute 'append'

In [ ]:
data = {"name":"john"}
print(data[age]) # key error

NameError: name 'age' is not defined

In [ ]:
my_list = [1,2,3]
print(my_list[5]) # index error

IndexError: list index out of range

In [ ]:
print(int("hello")) # value error

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
my_list =[1,2,3]
my_list.remove(5)

ValueError: list.remove(x): x not in list

In [ ]:
print("5"+5) # type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
open("nonexistnt_file,.txt") # filenotfounderror

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt_file,.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file,.txt'

## **Raise exception**

In [ ]:
age = int(input("Enter the age: "))

if age<0:
  raise ValueError("Age cannot be negative")

else:
  print(f"your age is {age}")

print("No try except")

Enter the age: -5

ValueError: Age cannot be negative

In [ ]:
try:
  age = int(input("Enter the age: "))

  if age<0:
    raise ValueError("Age cannot be negative")

  else:
    print(f"your age is {age}")

except ValueError as e:
  print(e)

print("try except finished")

Enter the age: -5
Age cannot be negative
try except finished

## **custom exceptions**

In [ ]:
class InvalidAgeException(Exception):
  pass

number = 18
try:
  input_num = int(input("Enter a number: "))

  if input_num < number:
    raise InvalidAgeException

  else:
    print("Eligible to Vote")

except InvalidAgeException:
  print("Exception occured : Invalid Age")

Enter a number: 16
Exception occured : Invalid Age

# **THREADING**

## **basic thread**

In [ ]:
import threading

def task():
  print("Thread running")

thread = threading.Thread(target = task)

thread.start()

thread.join()

Thread running

## **multiple threads**

In [ ]:
import threading

def task1():
  print("Task 1")

def task2():
  print("Task 2")

t1 = threading.Thread(target = task1)
t2 = threading.Thread(target = task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task 1
Task 2

In [ ]:
import threading

def print_numbers():
  for i in range(5):
    print(i)

thread = threading.Thread(target = print_numbers)

thread.start()

thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"Downloading {file}...")
  time.sleep(2)
  print(f"{file} downloaded.")

files = ["file1.txt","file2.txt","file3.txt"]
threads = [threading.Thread(target = download_file,args=(f,))for f in files]

for t in threads:
 t.start()

for t in threads:
 t.join()

Downloading file1.txt...
Downloading file2.txt...
Downloading file3.txt...
file1.txt downloaded.
file2.txt downloaded.
file3.txt downloaded.

## **two threading**

In [ ]:
import threading
import time

def chef_work():  # function for the chef's work(thread 1)
   for i in range(5): # chef prepares 5 dishes
       print(f"Chef: preparing dish {i+1}...")
       time.sleep(2) # time taken to prepare a dish
       if i == 2:  # Assistant starts washing utensils during the third dish
           print("Chef: calling Assistant to wash utensils.")
           time.sleep(1) # time taken to call the assistant
           assistant_thread = threading.Thread(target = assistant_work)
           assistant_thread.start()
           assistant_thread.join() # wait for the assistant to finish
           print("Chef: Assistant done.Resuming dish preparation.")
   print("Chef: All dishes are prepared.")


def assistant_work(): # function for assistant's work (thread 2)
    for j in range(3): # Assistant wah 3 utensils.
        print(f"  Assistant: washing utensil {j+1}...")
        time.sleep(2) # time taken to wash each utensil.
    print("  Assistant: All utensils are clean.")


print("Kitchen: Starting work.")
chef_thread = threading.Thread(target = chef_work)
chef_thread.start()
chef_thread.join()
print("Kitchen: All work completed.") # wait for the chef to complete their work.

Kitchen: Starting work.
Chef: preparing dish 1...
Chef: preparing dish 2...
Chef: preparing dish 3...
Chef: calling Assistant to wash utensils.
  Assistant: washing utensil 1...
  Assistant: washing utensil 2...
  Assistant: washing utensil 3...
  Assistant: All utensils are clean.
Chef: Assistant done.Resuming dish preparation.
Chef: preparing dish 4...
Chef: preparing dish 5...
Chef: All dishes are prepared.
Kitchen: All work completed.

Qustion
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second. During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds. Ensure the music playback waits for the lyrics to finish downloading before continuing.

Output

Music Player: Starting music playback. Music Player: Playing music... 1 seconds Music Player: Playing music... 2 seconds Music Player: Playing music... 3 seconds Music Player: Downloading lyrics in the background. Downloading lyrics... 1 seconds Downloading lyrics... 2 seconds Downloading lyrics... 3 seconds Lyrics download completed. Music Player: Lyrics downloaded. Music Player: Playing music... 4 seconds Music Player: Playing music... 5 seconds Music Player: Playback ended

In [ ]:
import threading
import time

def music_player():
  for i in range(5):
    print(f"Music Player : Playing music... {i+1} seconds.")
    time.sleep(3)
    if i == 2 :
      print("Music player: Downloading lyrics in the background.")
      time.sleep(2)
      download_thread = threading.Thread(target = download_lyrics)
      download_thread.start()
      download_thread.join()
      print("Music player : Lyrics downloaded")


def download_lyrics():
  for j in range(3):
    print(f" Downloading lyrics...{j+1} seconds.")
    time.sleep(2)
  print("Lyrics downloaded completed.")


print("Music Player : Starting music playback.")
music_thread = threading.Thread(target = music_player)
music_thread.start()
music_thread.join()
print("Music player : Playback ended.")

Music Player : Starting music playback.
Music Player : Playing music... 1 seconds.
Music Player : Playing music... 2 seconds.
Music Player : Playing music... 3 seconds.
Music player: Downloading lyrics in the background.
 Downloading lyrics...1 seconds.
 Downloading lyrics...2 seconds.
 Downloading lyrics...3 seconds.
Lyrics downloaded completed.
Music player : Lyrics downloaded
Music Player : Playing music... 4 seconds.
Music Player : Playing music... 5 seconds.
Music player : Playback ended.

# **REGULAR EXPRESSIONS**

search the string to see if it starts with "The" and ends with "Spain":

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$",txt)
if x:
  print("YES! we have a match!")

else:
  print("No match!")

YES! we have a match!

findall() function
print a list of all matches.

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal",txt)
print(x)

if x:
  print("YES, there is atleast one match.")
else:
  print("no match")

[]
no match

search for the first whitespace character for the string.

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s",txt)
print("The first whitespace character located in the position:", x.start())

The first whitespace character located in the position: 3

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1855367925.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s",txt)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal",txt)
print(x)

None

split function():split at each whitespace character

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3772022889.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s",txt)

split the string only at the first occurence

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s",txt,1)
print(x)

['The', 'rain in Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-365587355.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s",txt,1)

sub function : replace every white space character with number 9

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s","9",txt)
print(x)

The9rain9in9Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1707037135.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s","9",txt)

replace the first 2 occurences

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s","9",txt,2)
print(x)

The9rain9in Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-4079580978.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s","9",txt,2)

match object

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+" , txt)
print(x.span())

(12, 17)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+" , txt)
print(x.group())

Spain

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+" , txt)
print(x.string())

TypeError: 'str' object is not callable